/*
  Styles specifically for document pages.
*/

html{
  font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;
  background-color: whitesmoke;
   height: 100%;
}

.blueHeader {
  background-color: #2196F3;
  background: url("../aggarwal_images/electronics.jpg") no-repeat center center scroll;
}

.greenHeader {
  background-color: #4CAF50;
  background: url("../aggarwal_images/jets.jpg") no-repeat;


}

.yellowHeader{
  background-color: #FFEB3B;
  background: url("../aggarwal_images/track.png");
}

.redHeader{
  background-color: #F44336;
  background: url("../aggarwal_images/chicago_skyline.jpg") no-repeat center center scroll;

}


.blueHeader,
.greenHeader,
.yellowHeader,
.redHeader {
  height: 43vh;
  min-height: 300px;
  background-size: cover;
}


body{
  background-color: whitesmoke;
  margin: 0;
}

/* For the information pages */
.document {
  text-align: left;
  vertical-align: middle;
  width: 55%;
  margin-left: 22.5%;
  clear: both;
  border-left: solid grey 1px;
  border-right: solid grey 1px;
  border-top: solid grey 1px;
  padding: 20px;
  bottom: 0;
  margin-top: 10px;
}

@-webkit-keyframes fadeDoc {
  0% {
  }
  100% {
    background-color: grey;
  }
}

.page_content {
  position: relative;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.page_content p {
  padding-bottom: 10px;
}

#pageHeaders{
  color: red;
  font-size: 30px;
  text-align: left;
}
.fa a:hover {
  color: black;
  cursor: pointer;
}
